body {font-family: 'Open Sans', sans-serif;
  border: 20px solid silver;
  background-color: #e6f3f7;}

@media only screen and (max-width: 600px) 

#welcome-section{
  width: 100vw;
  height: 100vh;
  
  border-color: silver;
 }

h1{
  text-align: center;
  line-height: 100vh;
  display: block;
}


